* {margin: 0; padding: 0; font-family: Sans-serif;}

body{
    background: white;
}

.results {
    padding-top: 45px;
    padding-left: 20px;
}

#item {
    padding-top: 40px;
    padding-left: 20px;
    float: left;
    width: 50%;
}

#item-name {
    font-size: larger;
}

#location {
    float: left;
    width: 50%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 18px;
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #2f2f2f;
}

.navbar-bottom {
    position: fixed;
    left: 0;
    bottom: 0;
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #2f2f2f;
}

.navbar-element {
    padding: 0px;
    margin: 0px;
    border: 0px;
    float: left;
}

.navbar-element a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    cursor: pointer;
}

.navbar-element a:hover:not(.active) {
    background-color: #111;
}

.dropdown {
    margin-top: 10px;
    min-width: 5rem;
    display: none;
    list-style-type: none;
    position: fixed;
}

.navbar-element:hover > .dropdown,
.navbar-element:focus-within > .dropdown,
.dropdown:hover,
.dropdown:focus {
    display: block;
}

.dropdown-element {
    padding-top: 20px;
    padding-bottom: 20px;
    background: #2f2f2f;
}

.dropdown-element:hover {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
