body{
    background: white;
}

.results {
    padding-top: 13px;
}

#result-count {
    color: #808080;
}

.item-name {
    font-size: larger;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 10px;
    overflow: hidden;
    background-color: #2f2f2f;
}

.navbar-element {
    float: left;
}

.navbar-element a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-element a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
