* {margin: 0; padding: 0;}

body{
    background: white;
}

.results {
    padding-top: 40px;
}

#item {
    padding-top: 40px;
    padding-left: 20px;
    float: left;
    width: 50%;
}

#item-name {
    font-size: larger;
}

#location {
    float: left;
    width: 50%;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
    overflow: hidden;
    background-color: #2f2f2f;
}

.navbar-element {
    padding: 0px;
    margin: 0px;
    border: 0px;
    float: left;
}

.navbar-element a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-element a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}
