body{
    background: white;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: inline;
    list-style-type: none;
    margin: 0px;
    padding: 0px;
    overflow: hidden;
    background-color: #2f2f2f;
}

.navbar-element {
    float: left;
}

.navbar-element a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

.navbar-element a:hover:not(.active) {
    background-color: #111;
}

.active {
    background-color: #4CAF50;
}