#results {
    text-align: left;
    font-size: 1rem;
    color: #888;
}

.flex-list {
    position: relative;
    margin: 1em;
    overflow: hidden;
    list-style-type: none;
}
.flex-list ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: -1px;

}
.flex-list li {
    flex-grow: 1;
    flex-basis: auto;
    margin: .25em 0;
    padding: 0 1em;
    text-align: center;
    border: 1px solid #ccc;
    background-color: #fff;
}

/*.item {*/
/*    max-width: 300px;*/
/*    background-color: #FFF;*/
/*    box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);*/
/*    overflow: hidden;*/
/*}*/

/*.item-photo {*/
/*    float: left;*/
/*    width: 40%;*/
/*    margin-right: 15px;*/
/*}*/

/*.item-name {*/
/*    font-size: 2rem;*/
/*    font-weight: normal;*/
/*    margin: 0 0 1rem 0;*/
/*}*/

/*.location {*/
/*    font-size: .9rem;*/
/*    color: #888;*/
/*    vertical-align: middle;*/
/*}*/

/*.foods-list {*/
/*    margin: 0;*/
/*    padding: 0;*/
/*    position: relative;*/
/*    left: 17px;*/
/*    font-size: .85rem;*/
/*    line-height: 1.5;*/
/*}*/

/*.footer {*/
/*    font-size: .7rem;*/
/*    color: #888;*/
/*    text-align: center;*/
/*    margin: 0;*/
/*}*/